#body {
    width: 90%;
    height: 400px;
    margin: 0 auto;
}
#body h2{
    text-align: center;
    margin-top: 50px;
}
#body table{
    width: 70%;
    margin: 0 auto;
    border: 3px solid #104E8B;
    margin-top: 50px;
    border-spacing: 0;
}
#body table td{
    border: 1px solid #104E8B;

}
#body table tr th{
    height: 40px;
    font-size: 25px;
    border: 1px solid #104E8B;
}
#body table td{
    height: 30px;
    text-align: center;
    font-size: 18px;
}


#head #head_right ul a{
    text-decoration: none;
    color: #f5f5f5;
}
#head #head_right ul li:hover{
    background-color: #6495ed;
    color: #000000;
}